extends ../layout

block content
  .row
    .col-sm-6.col-md-4
      .thumbnail
        img.img-responsive(src='/images/lenovo-thinkpad-x1-carbon.jpg', alt='thinkpad x1')
        .caption
          h3 Thumbnail label
          p.description
            | Best gaming laptop in the market. Powerful graphics processor. Best Video display.
          .clearfix
            .price.pull-left
              | Kshs 50,000
            a.btn.btn-warning.pull-right(href='#', role='button') Button
